/* Шапка */
header {
	position: absolute;
	top: 0;
	width: calc(100% - 80px);
	height: 85px;
	background-color: #38004f;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;

	.logo {
		text-decoration: none;
		cursor: pointer;

		color: #fff;
		font-family: "Koulen";
		font-size: 36px;
		letter-spacing: 5px;
		transition: all 0.4s ease-out;
	}
	.logo:hover {
		transition: all 0.4s ease-out;
		letter-spacing: 10px;
	}

	.nav {
		display: flex;
		align-items: center;

		.nav-top {
			margin-right: 15px;
		}

		.nav-popular {
			margin-left: 15px;
		}

		.nav-top,
		.nav-popular {
			text-decoration: none;
			cursor: pointer;

			color: #fff;
			font-family: "Koulen";
			font-size: 24px;
			letter-spacing: 5px;
			transition: all 0.4s ease-out;
		}
		.nav-top:hover {
			transition: all 0.4s ease-out;
			letter-spacing: 10px;
		}
		.nav-popular:hover {
			transition: all 0.4s ease-out;
			letter-spacing: 10px;
		}
	}
}

/* Обложка + название */
main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	margin-top: calc(50vh - 246px);
	background-color: rgba(255, 255, 255, 0.29);
	width: 1240px;
	height: 492px;
	border-radius: 24px;
	transition: all 0.7s cubic-bezier(0.45, 0.06, 0.19, 0.97);

	> img {
		width: 400px;
		border-radius: 50%;
		cursor: pointer;
		margin-left: 42px;
		transition: all 0.3s cubic-bezier(0.45, 0.06, 0.19, 0.97);
		box-shadow: 0 0 10px #38004f;
	}
	> img:hover {
		transition: all 0.3s cubic-bezier(0.45, 0.06, 0.19, 0.97);
		box-shadow: 0 0 20px #38004f;
	}

	> p {
		position: relative;
		right: 160px;
		color: #fff;
		font-family: "Koulen";
		font-size: 56px;
		letter-spacing: 5px;
	}
}

/* Мини-плеер */
footer {
	display: flex;
	position: fixed;
	bottom: 0;
	height: 85px;
	width: 1240px;
	background-color: #38004f;
	margin-left: calc(50% - 620px);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	transition: all 0.7s cubic-bezier(0.45, 0.06, 0.19, 0.97);

	#footer-div {
		position: absolute;
		bottom: 0;
		height: 85px;
		width: 1240px;
		display: flex;
		align-items: center;
	}

	#playerTrackName {
		position: absolute;
		left: 95px;
		color: #fff;
		font-family: "Koulen";
		font-size: 24px;
		letter-spacing: 10%;
		transition: all 0.3s cubic-bezier(0.45, 0.06, 0.19, 0.97);
	}

	#trackTime {
		position: absolute;
		left: 890px;
		color: #fff;
		font-family: "Koulen";
		font-size: 18px;
		letter-spacing: 10%;
	}

	#rangeProgress {
		opacity: 0;
		width: 530px;
		height: 16px;
		position: absolute;
		left: 326px;
		cursor: e-resize;
	}
	#progressBar {
		width: 530px;
		height: 16px;
		position: absolute;
		left: 326px;
		border-radius: 8px;
		border: none;
		background-color: #d9d9d9;
		color: #230030;
		transition: all 0.1s linear;
	}
	#progressBar::-webkit-progress-bar {
		position: absolute;
		border-radius: 8px;
		border: none;
		background-color: #d9d9d9;
		color: #1e1e1e;
		transition: all 0.1s linear;
	}
	#progressBar::-webkit-progress-value {
		border-radius: 8px;
		background-color: #230030;
		transition: all 0.1s linear;
	}
	#progressBar::-moz-progress-bar {
		border-radius: 8px;
		background-color: #230030;
		color: #230030;
		transition: all 0.1s linear;
	}

	#rangeVolume {
		opacity: 0;
		width: 65px;
		height: 30px;
		position: absolute;
		right: 222px;
		rotate: -90deg;
		cursor: s-resize;
	}
	#volume {
		width: 60px;
		height: 10px;
		position: absolute;
		right: 225px;
		border: none;
		background-color: #d9d9d9;
		color: #230030;
		transition: all 0.2s ease-out;
		rotate: -90deg;
	}
	#volume::-webkit-progress-bar {
		background-color: #d9d9d9;
		color: #230030;
	}
	#volume::-webkit-progress-value {
		background-color: #230030;
	}
	#volume::-moz-progress-bar {
		background-color: #230030;
		color: #230030;
	}

	.playButton,
	.nextButton,
	.previousButton {
		position: absolute;
		width: 65px;
		height: 65px;
		border: none;
		border-radius: 16px;
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;

		font-family: "Koulen";
		color: #ffffff7a;
		font-size: 40px;
		font-weight: 800;
		padding: 0;
		transition: all 0.4s ease-out;
	}

	.playButton {
		right: 85px;
	}
	.nextButton {
		right: 10px;
	}
	.previousButton {
		right: 160px;
	}

	.playButton:hover {
		transition: all 0.2s ease-out;
		box-shadow: 0 0 20px #4c1c62;
	}
	.nextButton:hover {
		transition: all 0.2s ease-out;
		box-shadow: 0 0 20px #230030;
	}
	.previousButton:hover {
		transition: all 0.2s ease-out;
		box-shadow: 0 0 20px #230030;
	}
}

/* Анимация */
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Адаптация ширина 1300px*/
@media screen and (max-width: 1300px) {
	header {
		width: 100vw;
		justify-content: center;
		padding: 0;

		.nav {
			display: none;
		}
	}

	main {
		width: fit-content;
		height: fit-content;
		background-color: #1e1e1e00;
		margin-top: 120px;
		flex-direction: column;

		align-items: center;
		justify-content: center;

		> img {
			margin: 0;
			border-radius: 16px;
		}
		> p {
			right: 0;
			padding: 0;
			text-align: center;
		}
	}

	footer {
		margin-left: 0px;
		align-content: center;
		justify-content: flex-start;
		width: 100vw;

		#footer-div {
			width: 100vw;
		}

		#progressBar {
			display: none;
		}
		#rangeVolume {
			display: none;
		}
		#volume {
			display: none;
		}
		#rangeProgress {
			display: none;
		}
		#trackTime {
			display: none;
		}
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
}

/* Адаптация ширина 500px*/
@media screen and (max-width: 500px) {
	main {
		> img {
			width: 80vw;
		}
	}

	#playerTrackName {
		display: none;
	}
}

/* Адаптация высота 600px*/
@media screen and (max-height: 600px) {
	main {
		margin-left: 0;
		margin-right: 0;
		position: absolute;
		right: 0;
		padding-right: 20px;

		> img {
			width: auto;
			height: calc(100vh - 85px - 85px - 60px);
		}

		#trackName {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}
	footer {
		width: 60vw;

		#footer-div {
			width: 100%;
		}

		#progressBar {
			display: flex;
			width: 20vw;
			left: auto;
			right: 270px;
		}
		#rangeProgress {
			display: flex;
			width: 20vw;
			left: auto;
			right: 270px;
		}
	}
}

/* Адаптация высота 400px*/
@media screen and (max-height: 400px) {
	header {
		width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom-right-radius: 12px;
	}

	main {
        margin-top: 20px;

		> img {
			width: auto;
			height: 90vh;
		}

		#trackName {
			display: none;
		}
	}
}

/* Адаптация высота 600px и ширина 1100px*/
@media screen and (max-height: 600px) and (max-width: 1100px) {
	footer {
        #playerTrackName {
            width: calc(100% - 330px);
            overflow: scroll;
        }
		#progressBar {
			display: none;
		}
		#rangeProgress {
			display: none;
		}
	}
}

/* Шрифт */
@font-face {
	font-family: "Koulen";
	src: url("./fonts/TT\ Berlinerins\ Trial\ Grotesk.otf");
}

/* Остальные настройки */
* {
	touch-action: manipulation;
}
body {
	margin: 0;
	padding: 0;
	background-color: #451365;
}
