body {
    margin: 0;
    padding: 0;
    background-color: #451365;
}

header{
    position: absolute;
    top: 0;
    width: calc(100% - 80px);
    height: 85px;
    background-color: #38004F;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;


    .logo{
        text-decoration: none;
        cursor: pointer;
    
        color: #fff;
        font-family: 'Koulen';
        font-size: 36px;
        letter-spacing: 20%;
        transition: all 0.4s ease-out;
    }
    .logo:hover{
        transition: all 0.4s ease-out;
        letter-spacing: 30%;
    }
    
    .nav{
        display: flex;
        align-items: center;
    
        .nav-top{
            margin-right: 15px;
        }
        
        .nav-popular{
            margin-left: 15px;
        }
        
        .nav-top,
        .nav-popular{
            text-decoration: none;
            cursor: pointer;
        
            color: #fff;
            font-family: 'Koulen';
            font-size: 24px;
            letter-spacing: 20%;
            transition: all 0.4s ease-out;
        }
        .nav-top:hover{
            transition: all 0.4s ease-out;
            letter-spacing: 30%;
        }
        .nav-popular:hover{
            transition: all 0.4s ease-out;
            letter-spacing: 30%;
        }
    }    
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: calc(50vh - 246px);
    background-color: rgba(255, 255, 255, 0.29);
    width: 1240px;
    height: 492px;
    border-radius: 24px;

    > img {
        border-radius: 50%;
        cursor: pointer;
        margin-left: 42px;
        transition: all 0.3s cubic-bezier(.45,.06,.19,.97);
        box-shadow: 0 0 10px #38004F;
    }
    > img:hover {
        transition: all 0.3s cubic-bezier(.45,.06,.19,.97);
        box-shadow: 0 0 20px #38004F;
    }

    >p {
        position: relative;
        right: 160px;
        color: #fff;
        font-family: 'Koulen';
        font-size: 56px;
        letter-spacing: 20%;
        /* margin-right: 160px; */
    }
}

footer{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 1240px;
    background-color: #38004F;
    margin-left: calc(50% - 620px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .playButton,
    .nextButton,
    .previousButton {
        position: absolute;
        width: 65px;
        height: 65px;
        border: none;
        border-radius: 16px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        
        font-family: 'Koulen';
        color: #ffffff7a;
        font-size: 40px;
        font-weight: 800;
        padding: 0;
        transition: all 0.4s ease-out;
    }

    .playButton {
        right: 85px;
    }
    .nextButton {
        right: 10px;
    }
    .previousButton {
        right: 160px;
    }

    .playButton:hover{
        transition: all 0.2s ease-out;
        box-shadow: 0 0 20px #4C1C62;
    }
    .nextButton:hover{
        transition: all 0.2s ease-out;
        box-shadow: 0 0 20px #230030;
    }
    .previousButton:hover{
        transition: all 0.2s ease-out;
        box-shadow: 0 0 20px #230030;
    }
}



/* Animations */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}






@font-face {
    font-family: 'Koulen';
    src: url('./fonts/TT\ Berlinerins\ Trial\ Grotesk.otf');
}